@import "variables";
@import "mixins";

 /*Media query*/

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     .container.gallery-container{
         .tz-gallery{
             @include column;
             .fotos-galeria{
                @include column;
             }
         }
     }
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .banner-completo{
        .banner{
            h2{
                max-width: 85%;
            }
        }
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /*Media diego*/
    body {
        padding: 0;
    }

    .container.gallery-container {
        
        border-radius: 0;
    }
    
    .banner-completo{
        flex-wrap: nowrap;
            @include row;
            .banner{
                .banner-buttons{
                    @include row;
                }
            }
            /*Modificar mediciones del gif*/
            .banner-img{
                height: 400px; 
                width: 400px; 
            }
    }
    
        /*Cartel*/
    .cartel{
            
            .cartel-position{
                text-align: left;
                @include row;
                align-items: center;
                justify-content: center;
                padding-bottom: 50px;
                margin-left: 150px;
                margin-right: 150px;
                label{
                    margin-left: 100px;
                    margin-right: 100px;
                }
                p{
                    margin-left: 80px;
                    margin-right: 80px;
                }
            }
    }
    .speakers{
        h3{
            max-width: 35%;
        }
    }
        /*Agenda*/
    .agenda {
            .agenda--completa{
                @include row;
                justify-content: center;
    
                .agenda--hyi{
                    .agenda--info{
                        .charla{
                            @include row;
                            justify-items: center;
                            .titulo-charla{
                                @include row;
                                justify-content: space-evenly;
                                justify-items: center;
                                padding-left: 50px;
                                label{
                                    padding-left: 50px;
                                }
                            }
        
                        }
                    }
                }
            }
    
    }
        /*footer*/
    .footer{
        .footer--columnas{
            @include row;
            justify-content: space-around;
            label{
                font-size: 1.5rem;
            }
            ul{
                font-size: 1.2rem;
            }
        }
    }

}
    @media (min-width: 1000px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1000px;
    }
}
    @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1000px;
    }
}

  
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    
  } 