$color-dark: #121212;
$color-light: #FFFFFF;
$color-two: #E4FF22;
$color-tree: #F5F5F5;
$color-four: #706A6A;
$color-five:  #A400F1;
$color-six:  #CDCDCD;
$color-seven: #FFFF00;
$color-eigth:  #424242;
$color-nine: #8E8E8E;
$color-black: #000;

$title-font: Gobold;
$title-font-two: Gobold-Bold;

$text-transform: uppercase;

$background-dark: $color-dark;
$background-light: $color-tree;